@model Turns.Models.Patient

<h4>Patient</h4>
<div>
    <dl> @* Description list *@
        <dt> @* Description text *@
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd> @* Description data *@
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.PatientId">Edit</a> |
    <a asp-action="Index">Back</a>
</div>